@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700&display=swap');

.root{
    -fx-font-family: "Gothic A1";
}

#imagePathLabel{
    -fx-font-family: "Gothic A1";
    -fx-font-size: 10px;
}

.label{
    -fx-font-family: "Gothic A1";
    -fx-font-size: 20px;
}

.button {
    -fx-background-radius: 100px;
    -fx-font-family: "Roboto", sans-serif;
    -fx-padding: 7px 20px;
    -fx-font-size: 16px;
    -fx-border-width: 0;
    -fx-transition: all 250ms;
}

.button {
    -fx-effect: dropshadow(gaussian, rgba(44, 187, 99, 0.2), 10, 0.5, 0, 4);
}

.button:hover {
    -fx-background-color: #f2d9e6;
}

.text-field{
    -fx-font-weight: 500;
    -fx-font-size: 15px;
    -fx-background-color: #140F13;
    -fx-text-fill: #eec5de;
    -fx-prompt-text-fill: #b59cad;
    -fx-background-radius: 40px;
    -fx-padding: 10px 20px;
    -fx-effect: dropshadow(gaussian, #545454, 10, 0, 0, 3);
}
